.input {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }

  .text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: .74rem;
    color: #4B5563;
    margin: 0;
    margin-bottom: 8px;
  }

  input {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #1F2937;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: .88rem;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    width: 94%;
    height: 1.5rem;
    padding: 8px 3% 8px;
  }

  input:focus {
    border: 1px solid #1D4ED8;
  }

  .warning {
    margin: 0;
    font-weight: 600;
    font-size: .74rem;
    color: red;
    margin-top: 2px;
    margin-left: 2px;
  }
