.login-screen {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  .login-screen code {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: rgba(59, 59, 59, 0.746);
    font-size: .8rem;
  }

  .login {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    transition: 600ms ease-in-out;
  }

  .forgot {
    opacity: 0;
    transition: 600ms ease-in-out;
    position: absolute;
    z-index: 1;
    height: 100vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }

  h4 {
    color: #616161;
    cursor: pointer;
  }

  .logo {
    margin-top: 3rem;
    height: 200px;
    width: 578px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 600ms ease-in-out;
  }

  .form-container {
    min-width: 578px;
    min-height: 474px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin: 0px 2% 0px; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: 600ms ease-in-out;
  }

  .form-container form {
    margin-top: 14%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 75%;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }

  .form-container form h3 {
    margin-bottom: 2.5rem;
  }

  .form-container form Button {
    margin-top: 20px;
  }

  .form-container form .hr {
    width: 80%;
    align-self: center;
    border: none;
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 60px;
  }

  .form-container form .hr div {
    height: 30px;
    width: 30%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  }

  .form-container form .forgot-pass-text {
    align-self: flex-start;
    font-size: .7rem;
    padding-bottom: 5%;
    cursor: pointer;
  }

  @media only screen and (max-width: 628px) {
    .form-container {
      min-width: 364px;
      min-height: 350px;
      margin: 0px 200px 10px;
      padding-bottom: 5%;
    }
    .logo {
      height: 140px;
      width: 278px;
    }
  }
