@import '../../vendor/filament/forms/dist/module.esm.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

@layer components {

    .input-container {
        @apply mb-5 w-full relative;
    }

    .input-text {
        @apply font-semibold text-xs text-[#4B5563] m-0 mb-2;
    }

    .input-input {
        @apply m-0 py-2 px-[3%] text-[#1F2937] outline-none bg-white font-medium text-sm border border-[#dbd1d1] focus:ring-0 rounded w-[100%] h-10 focus:border-[#1D4ED8];
    }

    .input-warning {
        @apply m-0 font-semibold text-xs text-red-600 mt-1 ml-[2px];
    }

    .form-container {
        @apply m-0 mx-[2%] items-center;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        transition: 600ms ease-in-out;
    }

    .button {
        @apply border-none rounded bg-[#1D4ED8] hover:bg-[#073dd0] w-full h-[2.5rem] text-white text-[.8rem] cursor-pointer mt-6
                putot:mt-2
        ;
    }

    .logo {
        @apply flex items-center justify-center z-10 h-[120px] w-[578px] mt-[120px] mb-5 
        sm:mt-[3vh] sm:h-[120px] sm:w-[278p] sm:mb-[2vh] 
        ssm:w-[98%]
        taas:mt-[2vh]
        putot:h-[90px]  putot:mt-[1vh] putot:mb-[1vh]
        ;
        
        transition: 600ms ease-in-out;
    }

    .header-font {
        font-family: 'Roboto', sans-serif;
    }

    .hr {
        @apply mb-[20px] w-4/5 self-center border-none h-[30px] flex justify-center p-0 gap-[60px];
    }

    .line {
        @apply h-[30px] w-[30%] border-b-[1px] border-[#0606062b];
    }

    .forgot-pass-text {
        @apply self-start text-[11px] pb-[21.672px] cursor-pointer z-10 my-[11.200px]
                putot:my-0 putot:pb-[10px]
        ;
    }


    .login-font-size{
        font-family: 'Montserrat', sans-serif;
        opacity: 0.6;
    }
}